<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} | Kommercial</title>
        <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon">
        
        <!-- Feuilles de styles -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    
    <body>
        {% include "_includes/_header.html.twig" %}
        {% block body %}{% endblock %}
        {# {% include "_includes/_footer.html.twig" %} #}
    </body>

    <!-- Fichiers JS -->
        <script src="{{ asset('js/bootstrap.bundle.min.js') }}" defer></script>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('js/script.js') }}" defer></script>
</html>
